
bin/Debug/net6.0/AngleSharp.dll
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/CliWrap.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
bin/Debug/net6.0/Microsoft.Extensions.Options.dll
bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0/MoreMusic.deps.json
bin/Debug/net6.0/MoreMusic.dll
bin/Debug/net6.0/MoreMusic.exe
bin/Debug/net6.0/MoreMusic.pdb
bin/Debug/net6.0/MoreMusic.runtimeconfig.json
bin/Debug/net6.0/MoreMusic.staticwebassets.runtime.json
bin/Debug/net6.0/NAudio.Asio.dll
bin/Debug/net6.0/NAudio.Core.dll
bin/Debug/net6.0/NAudio.dll
bin/Debug/net6.0/NAudio.Midi.dll
bin/Debug/net6.0/NAudio.Wasapi.dll
bin/Debug/net6.0/NAudio.WinMM.dll
bin/Debug/net6.0/Newtonsoft.Json.dll
bin/Debug/net6.0/Npgsql.dll
bin/Debug/net6.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
bin/Debug/net6.0/YoutubeExplode.Converter.dll
bin/Debug/net6.0/YoutubeExplode.dll
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/MoreMusic.AssemblyInfo.cs
obj/Debug/net6.0/MoreMusic.AssemblyInfoInputs.cache
obj/Debug/net6.0/MoreMusic.assets.cache
obj/Debug/net6.0/MoreMusic.csproj.AssemblyReference.cache
obj/Debug/net6.0/MoreMusic.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/MoreMusic.csproj.CopyComplete
obj/Debug/net6.0/MoreMusic.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/MoreMusic.csproj.FileListAbsolute.txt
obj/Debug/net6.0/MoreMusic.dll
obj/Debug/net6.0/MoreMusic.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/MoreMusic.genruntimeconfig.cache
obj/Debug/net6.0/MoreMusic.GlobalUsings.g.cs
obj/Debug/net6.0/MoreMusic.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/MoreMusic.pdb
obj/Debug/net6.0/MoreMusic.RazorAssemblyInfo.cache
obj/Debug/net6.0/MoreMusic.RazorAssemblyInfo.cs
obj/Debug/net6.0/project.razor.vs.json
obj/Debug/net6.0/ref/MoreMusic.dll
obj/Debug/net6.0/refint/MoreMusic.dll
obj/Debug/net6.0/scopedcss/bundle/MoreMusic.styles.css
obj/Debug/net6.0/scopedcss/projectbundle/MoreMusic.bundle.scp.css
obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/staticwebassets.pack.json
obj/Debug/net6.0/staticwebassets/msbuild.build.MoreMusic.props
obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.MoreMusic.props
obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.MoreMusic.props
obj/Debug/net6.0/staticwebassets/msbuild.MoreMusic.Microsoft.AspNetCore.StaticWebAssets.props
obj/MoreMusic.csproj.nuget.dgspec.json
obj/MoreMusic.csproj.nuget.g.props
obj/MoreMusic.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
bin/Release/net6.0/AngleSharp.dll
bin/Release/net6.0/appsettings.Development.json
bin/Release/net6.0/appsettings.json
bin/Release/net6.0/CliWrap.dll
bin/Release/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Release/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Release/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Release/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Release/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Release/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Release/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Release/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Release/net6.0/Microsoft.Extensions.Logging.dll
bin/Release/net6.0/Microsoft.Extensions.Options.dll
bin/Release/net6.0/Microsoft.Extensions.Primitives.dll
bin/Release/net6.0/MoreMusic.deps.json
bin/Release/net6.0/MoreMusic.dll
bin/Release/net6.0/MoreMusic.exe
bin/Release/net6.0/MoreMusic.pdb
bin/Release/net6.0/MoreMusic.runtimeconfig.json
bin/Release/net6.0/MoreMusic.staticwebassets.runtime.json
bin/Release/net6.0/NAudio.Asio.dll
bin/Release/net6.0/NAudio.Core.dll
bin/Release/net6.0/NAudio.dll
bin/Release/net6.0/NAudio.Midi.dll
bin/Release/net6.0/NAudio.Wasapi.dll
bin/Release/net6.0/NAudio.WinMM.dll
bin/Release/net6.0/Newtonsoft.Json.dll
bin/Release/net6.0/Npgsql.dll
bin/Release/net6.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
bin/Release/net6.0/publish/AngleSharp.dll
bin/Release/net6.0/publish/appsettings.Development.json
bin/Release/net6.0/publish/appsettings.json
bin/Release/net6.0/publish/CliWrap.dll
bin/Release/net6.0/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Release/net6.0/publish/Microsoft.EntityFrameworkCore.dll
bin/Release/net6.0/publish/Microsoft.EntityFrameworkCore.Relational.dll
bin/Release/net6.0/publish/Microsoft.Extensions.Caching.Abstractions.dll
bin/Release/net6.0/publish/Microsoft.Extensions.Caching.Memory.dll
bin/Release/net6.0/publish/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Release/net6.0/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Release/net6.0/publish/Microsoft.Extensions.DependencyInjection.dll
bin/Release/net6.0/publish/Microsoft.Extensions.Logging.Abstractions.dll
bin/Release/net6.0/publish/Microsoft.Extensions.Logging.dll
bin/Release/net6.0/publish/Microsoft.Extensions.Options.dll
bin/Release/net6.0/publish/Microsoft.Extensions.Primitives.dll
bin/Release/net6.0/publish/MoreMusic.deps.json
bin/Release/net6.0/publish/MoreMusic.dll
bin/Release/net6.0/publish/MoreMusic.exe
bin/Release/net6.0/publish/MoreMusic.pdb
bin/Release/net6.0/publish/MoreMusic.runtimeconfig.json
bin/Release/net6.0/publish/NAudio.Asio.dll
bin/Release/net6.0/publish/NAudio.Core.dll
bin/Release/net6.0/publish/NAudio.dll
bin/Release/net6.0/publish/NAudio.Midi.dll
bin/Release/net6.0/publish/NAudio.Wasapi.dll
bin/Release/net6.0/publish/NAudio.WinMM.dll
bin/Release/net6.0/publish/Newtonsoft.Json.dll
bin/Release/net6.0/publish/Npgsql.dll
bin/Release/net6.0/publish/Npgsql.EntityFrameworkCore.PostgreSQL.dll
bin/Release/net6.0/publish/web.config
bin/Release/net6.0/publish/wwwroot/css/site.css
bin/Release/net6.0/publish/wwwroot/favicon.ico
bin/Release/net6.0/publish/wwwroot/js/site.js
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
bin/Release/net6.0/publish/wwwroot/lib/bootstrap/LICENSE
bin/Release/net6.0/publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
bin/Release/net6.0/publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
bin/Release/net6.0/publish/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
bin/Release/net6.0/publish/wwwroot/lib/jquery-validation/dist/additional-methods.js
bin/Release/net6.0/publish/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
bin/Release/net6.0/publish/wwwroot/lib/jquery-validation/dist/jquery.validate.js
bin/Release/net6.0/publish/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
bin/Release/net6.0/publish/wwwroot/lib/jquery-validation/LICENSE.md
bin/Release/net6.0/publish/wwwroot/lib/jquery/dist/jquery.js
bin/Release/net6.0/publish/wwwroot/lib/jquery/dist/jquery.min.js
bin/Release/net6.0/publish/wwwroot/lib/jquery/dist/jquery.min.map
bin/Release/net6.0/publish/wwwroot/lib/jquery/LICENSE.txt
bin/Release/net6.0/publish/wwwroot/MoreMusic.styles.css
bin/Release/net6.0/publish/YoutubeExplode.Converter.dll
bin/Release/net6.0/publish/YoutubeExplode.dll
bin/Release/net6.0/YoutubeExplode.Converter.dll
bin/Release/net6.0/YoutubeExplode.dll
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0/apphost.exe
obj/Release/net6.0/MoreMusic.AssemblyInfo.cs
obj/Release/net6.0/MoreMusic.AssemblyInfoInputs.cache
obj/Release/net6.0/MoreMusic.assets.cache
obj/Release/net6.0/MoreMusic.csproj.AssemblyReference.cache
obj/Release/net6.0/MoreMusic.csproj.CopyComplete
obj/Release/net6.0/MoreMusic.csproj.CoreCompileInputs.cache
obj/Release/net6.0/MoreMusic.csproj.FileListAbsolute.txt
obj/Release/net6.0/MoreMusic.dll
obj/Release/net6.0/MoreMusic.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net6.0/MoreMusic.genruntimeconfig.cache
obj/Release/net6.0/MoreMusic.GlobalUsings.g.cs
obj/Release/net6.0/MoreMusic.MvcApplicationPartsAssemblyInfo.cache
obj/Release/net6.0/MoreMusic.pdb
obj/Release/net6.0/MoreMusic.RazorAssemblyInfo.cache
obj/Release/net6.0/MoreMusic.RazorAssemblyInfo.cs
obj/Release/net6.0/PublishOutputs.cd36cf1760.txt
obj/Release/net6.0/PubTmp/Out/AngleSharp.dll
obj/Release/net6.0/PubTmp/Out/appsettings.Development.json
obj/Release/net6.0/PubTmp/Out/appsettings.json
obj/Release/net6.0/PubTmp/Out/CliWrap.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.EntityFrameworkCore.Abstractions.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.EntityFrameworkCore.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.EntityFrameworkCore.Relational.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.Caching.Abstractions.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.Caching.Memory.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.Configuration.Abstractions.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.DependencyInjection.Abstractions.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.DependencyInjection.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.Logging.Abstractions.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.Logging.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.Options.dll
obj/Release/net6.0/PubTmp/Out/Microsoft.Extensions.Primitives.dll
obj/Release/net6.0/PubTmp/Out/MoreMusic.deps.json
obj/Release/net6.0/PubTmp/Out/MoreMusic.dll
obj/Release/net6.0/PubTmp/Out/MoreMusic.exe
obj/Release/net6.0/PubTmp/Out/MoreMusic.pdb
obj/Release/net6.0/PubTmp/Out/MoreMusic.runtimeconfig.json
obj/Release/net6.0/PubTmp/Out/NAudio.Asio.dll
obj/Release/net6.0/PubTmp/Out/NAudio.Core.dll
obj/Release/net6.0/PubTmp/Out/NAudio.dll
obj/Release/net6.0/PubTmp/Out/NAudio.Midi.dll
obj/Release/net6.0/PubTmp/Out/NAudio.Wasapi.dll
obj/Release/net6.0/PubTmp/Out/NAudio.WinMM.dll
obj/Release/net6.0/PubTmp/Out/Newtonsoft.Json.dll
obj/Release/net6.0/PubTmp/Out/Npgsql.dll
obj/Release/net6.0/PubTmp/Out/Npgsql.EntityFrameworkCore.PostgreSQL.dll
obj/Release/net6.0/PubTmp/Out/web.config
obj/Release/net6.0/PubTmp/Out/wwwroot/css/site.css
obj/Release/net6.0/PubTmp/Out/wwwroot/favicon.ico
obj/Release/net6.0/PubTmp/Out/wwwroot/js/site.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/bootstrap/LICENSE
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery-validation/LICENSE.md
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.js
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery/dist/jquery.min.map
obj/Release/net6.0/PubTmp/Out/wwwroot/lib/jquery/LICENSE.txt
obj/Release/net6.0/PubTmp/Out/wwwroot/MoreMusic.styles.css
obj/Release/net6.0/PubTmp/Out/YoutubeExplode.Converter.dll
obj/Release/net6.0/PubTmp/Out/YoutubeExplode.dll
obj/Release/net6.0/ref/MoreMusic.dll
obj/Release/net6.0/refint/MoreMusic.dll
obj/Release/net6.0/scopedcss/bundle/MoreMusic.styles.css
obj/Release/net6.0/scopedcss/projectbundle/MoreMusic.bundle.scp.css
obj/Release/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Release/net6.0/staticwebassets.build.json
obj/Release/net6.0/staticwebassets.development.json
obj/Release/net6.0/staticwebassets.pack.json
obj/Release/net6.0/staticwebassets.publish.json
obj/Release/net6.0/staticwebassets/msbuild.build.MoreMusic.props
obj/Release/net6.0/staticwebassets/msbuild.buildMultiTargeting.MoreMusic.props
obj/Release/net6.0/staticwebassets/msbuild.buildTransitive.MoreMusic.props
obj/Release/net6.0/staticwebassets/msbuild.MoreMusic.Microsoft.AspNetCore.StaticWebAssets.props
Properties/PublishProfiles/FolderProfile.pubxml
Properties/PublishProfiles/FolderProfile.pubxml.user
/bin
/obj
