
bin/Debug/net6.0/AngleSharp.dll
bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/CliWrap.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
bin/Debug/net6.0/Microsoft.Extensions.Options.dll
bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0/MoreMusic.deps.json
bin/Debug/net6.0/MoreMusic.dll
bin/Debug/net6.0/MoreMusic.exe
bin/Debug/net6.0/MoreMusic.pdb
bin/Debug/net6.0/MoreMusic.runtimeconfig.json
bin/Debug/net6.0/MoreMusic.staticwebassets.runtime.json
bin/Debug/net6.0/NAudio.Asio.dll
bin/Debug/net6.0/NAudio.Core.dll
bin/Debug/net6.0/NAudio.dll
bin/Debug/net6.0/NAudio.Midi.dll
bin/Debug/net6.0/NAudio.Wasapi.dll
bin/Debug/net6.0/NAudio.WinMM.dll
bin/Debug/net6.0/Newtonsoft.Json.dll
bin/Debug/net6.0/Npgsql.dll
bin/Debug/net6.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
bin/Debug/net6.0/YoutubeExplode.Converter.dll
bin/Debug/net6.0/YoutubeExplode.dll
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/MoreMusic.AssemblyInfo.cs
obj/Debug/net6.0/MoreMusic.AssemblyInfoInputs.cache
obj/Debug/net6.0/MoreMusic.assets.cache
obj/Debug/net6.0/MoreMusic.csproj.AssemblyReference.cache
obj/Debug/net6.0/MoreMusic.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/MoreMusic.csproj.CopyComplete
obj/Debug/net6.0/MoreMusic.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/MoreMusic.csproj.FileListAbsolute.txt
obj/Debug/net6.0/MoreMusic.dll
obj/Debug/net6.0/MoreMusic.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/MoreMusic.genruntimeconfig.cache
obj/Debug/net6.0/MoreMusic.GlobalUsings.g.cs
obj/Debug/net6.0/MoreMusic.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/MoreMusic.pdb
obj/Debug/net6.0/MoreMusic.RazorAssemblyInfo.cache
obj/Debug/net6.0/MoreMusic.RazorAssemblyInfo.cs
obj/Debug/net6.0/project.razor.vs.json
obj/Debug/net6.0/ref/MoreMusic.dll
obj/Debug/net6.0/refint/MoreMusic.dll
obj/Debug/net6.0/scopedcss/bundle/MoreMusic.styles.css
obj/Debug/net6.0/scopedcss/projectbundle/MoreMusic.bundle.scp.css
obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/staticwebassets.development.json
obj/Debug/net6.0/staticwebassets.pack.json
obj/Debug/net6.0/staticwebassets/msbuild.build.MoreMusic.props
obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.MoreMusic.props
obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.MoreMusic.props
obj/Debug/net6.0/staticwebassets/msbuild.MoreMusic.Microsoft.AspNetCore.StaticWebAssets.props
obj/MoreMusic.csproj.nuget.dgspec.json
obj/MoreMusic.csproj.nuget.g.props
obj/MoreMusic.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
