<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>
    <a asp-controller="Music" asp-action="MusicPage">Go to Music Page</a>
    <a asp-controller="Music" asp-action="IphoneMusicPage">Go to Iphone Music Page</a>
</body>
</html>
